.parent{
    /* background-color:red; */
    display: grid;
    grid-template-areas: 
    "h h"
    "n n"
    "s as"
    "ar as"
    "f f";
}
.h{
    grid-area: h;
    border:2px solid orange;
    padding: 3px;
    margin: 10px 0px;
    text-align: center;
}
.n{
    grid-area: n;
    border:2px solid rgb(2, 21, 78);
    padding: 3px;
    margin: 0px;
    text-align: center;   
}
.side{
    grid-area: s;
    border:2px solid rgb(84, 2, 92);
    padding: 3px;
    margin: 5px 0;
    text-align: center;
    height: 150px; 
}
.ar{
    grid-area: ar;
    border:2px solid rgb(94, 129, 4);
    padding: 3px;
    margin: 5px 0;
    text-align: center;
    height:150px; 
}
.as{
    grid-area: as;
    border:2px solid rgb(2, 21, 78);
    /* padding: 3px; */
    margin: 5px 2px;
    text-align: center; 
}
.footer{
    grid-area: f;
    border:2px solid rgb(14, 160, 208);
    padding: 3px;
    margin: 5px 0px;
    text-align: center;
}